:root{
    --naranja: #F90;
    --negro: #000;
    --blanco: #fff;
    --amarillo: rgb(229, 255, 0);
}

/*resetear algunos valores predeterminados del navegador*/

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}


body{
    /* Poner color de fondo para usuarios con mala conexión a internet o por si no carga la imagen */
    background-color: #272729ed;
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
    /*
        Repetir en X, Y o no repetir
        background-repeat: repeat-y;
        
        Imagen que cubra el 100% del fondo pero sin perder proporción
        background-size: cover;
    */
}

.cabecera,
.contenedor{
    max-width: 1000px;
    margin: auto;
}

.cabecera{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.cabecera h1{
    color: var(--naranja);
    font-size: 24px;
}

.contenedor{
    background-color: var(--blanco);
    border-radius: 8px 8px 0 0;
}

/*
    ---------------------------------------
        navegacion
    ---------------------------------------    
*/


.nav{
    background-color: var(--naranja);
    border-radius: 8px 8px 0 0;
}

.nav-lista {
    /* background-color: pink; */
    /*sacamos los puntitos*/
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* space around pone espacios entre ellos y afuera*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-lista-item {
   /* background-color: blueviolet; */
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid var(--amarillo);
}

.nav-link {
    /* background-color:blue; */
    color:  var(--blanco);
    font-weight: bold;
    /* sacar el subrayado predeterminado*/
    text-decoration: none;
    /*agrandar el area clicleable*/
    display: block;
}

.nav-link:hover{
    text-decoration: none;
}

.nav-form {
    /* background-color: tomato; */
}
